*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow: scroll;
    overflow-x: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color:#f3f5f8;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height:80px;
    line-height: 80px;
    z-index: 111;
   
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;

}
b{
    font-size: 70px;
    color: #7f00ff;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
    
}
.navItems li:hover a,
.links a:hover{
    color:#7f00ff;
}
.links a{
    font-size: 30px;
    color:#3d535f;
    margin: 25px 10px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: cal(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content:'';
    height: 400px;
    width: 400px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content:'';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top:41%;
       
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top:10%;
    }
}
.cols{
    width: 50%;
}
.cols0{
    width: 60%;
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}
h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #3d535f
}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;
    
}
p{
    display:block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.btns{
    width: 100%;
    position:relative;
    left: 150px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow:0 15px 10px rgba(0,0,0,0.4);
}
button:hover{
    background-color: #7f00ff
}
.imgbox{
    position:relative;
    width:100%;
    height:100%
}
.imgbox img{
    position:relative;
    height:100%;
    width: calc(130% - 80px);
    top: -100px;
    right: 50px;
    transform: rotateY(180deg);
    animation: animateUser 15s linear infinite;
}
@keyframes animateUser{
    50%{
        right: 30px;
        top: -90px;
    }
}
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-35deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 70s linear infinite;
}
@keyframes animate{
    50%{
        right:49px;
        top:51px;
        width: 155%;
    }
}
/*about*/
#about{

    padding: 80px 50;
    color: #7f00ff;
   
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;  
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    font-size: 20px;
}
.sub-title{
   font-size: 60px;
   font-weight: 600;
   color:#7f00ff; 
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #7f00ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color:#7f00ff;
    font-size: 20px;

}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents i{
    font-size: 20px;
    color: #7f00ff;
    margin-right: 15px;
}
/* skills*/
#skills{
    padding: 50px 50;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius:10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(#7f00ff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color:white;
}
.layer a{
    margin-top: 20px;
    color: #7f00ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #3d535f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:white;
    background-color:#3d535f ;
    transition:0.5s;
    box-shadow:0 15px 10px rgba(0,0,0,0.4);
}
.btn:hover{
    background:#7f00ff;
}
.graphics{
    width: 500px;
    height: 30%;
    grid-gap: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 400px;

}

/*contact*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #7f00ff;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #7f00ff;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #3d535f;
    box-shadow:0 15px 10px rgb(53, 51, 51);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor:pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #3b3a3a;
    font-weight: 300;
    margin-top: 20px;
}
